<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/css.css">
    <link rel="stylesheet" href="/public/css/form.css">
</head>
<body>
<header>
    <div class="left"> 用户管理系统</div>
    <div class="right"> 欢迎登陆 admin | 退出</div>
</header>
    <div class="slide">
        <ul>
            <li>用户信息</li>
        </ul>
    </div>
    <div class="content">
        <div class="box">
            <div class="top">添加信息</div>
        <form action="/blog" method="post">
            <table>
                <tr>
                    <td>标题：</td>
                    <td><input type="text" name="title" class="text" placeholder="请输入标题"></td>
                </tr>
                <tr>
                    <td>内容：</td>
                    <td><textarea name="message" placeholder="请输入内容" class="text"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="提交" class="button">
                        <input type="reset" value="重置" class="button">
                    </td>
                </tr>
            </table>
        </form>
        </div>
    </div>
</body>
</html>